.App {
  text-align: center;
  font-family: sans-serif;
}

.page-header {
  background-color: #052849;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: 'white';
}

.logo {
  width: 100px;
  margin-right: 20px;
}

.page-body {
  display: flex; 
  padding: 20px;
}

.page-body-info {
  flex: 1;
  margin: 10px;
}

.page-body-graph-and-table {
  flex: 6;
  width: auto;
  margin: 10px;
}

.product-info {
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.product-image {
  width: 300px;
  height: auto;
  cursor: zoom-in;
}

.product-title {
  color: #404e63;
}

.product-subtitle {
  color: #9ca1ab;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-top: 1px solid lightgray;
  align-items:center;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #ffffff;
  color: #36445e;
  white-space: nowrap;
}

.sales-chart {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.sales-table {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.zoom-container {
  position: relative;
  display: inline-block;
}

.zoom-image {
  width: 300px;
  height: auto;
  cursor: zoom-in;
}

.zoom-lens {
  position: fixed;
  top: 300px;
  left: 300px;
  width: 300px; 
  height: 300px; 
  border: 1px solid #d4d4d4;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-50%, -50%); 
  z-index: 10;
}

.star-rating {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.average-rating {
  margin-right: 5px; 
  font-weight: bold; 
  text-align: end;
}

.star-filled {
  color: #ffc107; 
}

.star-empty {
  color: #e0e0e0; 
}

.num-ratings {
  color: #757575; 
  text-align: start;
}

.product-details-section {
  border-top: 1px solid lightgray;
  margin-right: 20px;
}

.product-details-list {
  text-align: left;
}

.detail {
  margin: 5px 0;
}

.product-info-table {
  margin: 20px;
  text-align: left;
}

.table-row {
  display: flex;
  margin-bottom: 5px; 
}

.table-label {
  width: 120px;
  font-weight: bold; 
}

.table-value {
  flex: 1; 
}

.reviews-section {
  border-top: 1px solid lightgray;

}

.reviews-list {
  padding-left: 0; 
  list-style-type: none; 
}

.reviews-list li {
  margin-bottom: 10px; 
}

.review-text {
  margin: 10px;
  text-align: left;
}

.customer-and-score {
  display: grid;
  grid-template-columns: auto auto;
}

.read-more-button {
  border-radius: 20px; 
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #0056b3; 
}
